<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Библиотека-Pandas" data-toc-modified-id="Библиотека-Pandas-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Библиотека Pandas</a></span></li><li><span><a href="#Раздел-1.-Создание-таблиц-из-коллекций" data-toc-modified-id="Раздел-1.-Создание-таблиц-из-коллекций-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Раздел 1. Создание таблиц из коллекций</a></span></li><li><span><a href="#Раздел-2.-Извлечение-данных-по-условию" data-toc-modified-id="Раздел-2.-Извлечение-данных-по-условию-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Раздел 2. Извлечение данных по условию</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Работа-с-набором-данных-Financial-Sample" data-toc-modified-id="Работа-с-набором-данных-Financial-Sample-3.0.1"><span class="toc-item-num">3.0.1&nbsp;&nbsp;</span>Работа с набором данных <em>Financial Sample</em></a></span></li><li><span><a href="#Извлечение-данных-по-условию" data-toc-modified-id="Извлечение-данных-по-условию-3.0.2"><span class="toc-item-num">3.0.2&nbsp;&nbsp;</span>Извлечение данных по условию</a></span></li></ul></li><li><span><a href="#Раздел-3.-Группировка-данных" data-toc-modified-id="Раздел-3.-Группировка-данных-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Раздел 3. Группировка данных</a></span></li></ul></li></ul></div>



# Библиотека Pandas

In [1]:
import pandas as pd

# Раздел 1. Создание таблиц из коллекций

<p style="font-size:125%; color:#119988; background-color:#EEE">Задание 1.1</p>

Имеется *серия*, содержащая числа от 10 до 1000. Какое число содержит элемент с индексом 175? Вычислите разность элементов с индексами 900 и 16.

In [1]:
# 1.1. Ваш код здесь
import pandas as pd

s = pd.Series(range(10, 1001))

num_175 = s[175]
diff_900_16 = s[900] - s[16]

print("Число с индексом 175:", num_175)
print("Разность элементов с индексами 900 и 16:", diff_900_16)

Число с индексом 175: 185
Разность элементов с индексами 900 и 16: 884

<p style="font-size:125%; color:#119988; background-color:#EEE">Задание 1.2</p>

Мебельная фабрика выпускает продукцию  наименований: диваны, кровати, трюмо. Создайте таблицу *DatаFrame*, содержащую: количество призведенной продукции каждого наименования, остаток на складе фабрики. Наименования разместите в строках, а количество и остаток в столбцах.

In [3]:
# 1.2. Ваш код здесь
import pandas as pd

data = {'Наименование': ['диваны', 'кровати', 'трюмо'],
        'Количество': [100, 200, 150],
        'Остаток': [20, 50, 30]}

df = pd.DataFrame(data)

print(df)

  Наименование  Количество  Остаток
0       диваны         100       20
1      кровати         200       50
2        трюмо         150       30

<p style="font-size:125%; color:#119988; background-color:#EEE">Задание 1.3</p>

Разделите столбец **car** таблицы **market** на два столбца: **mark** (марка) и **model** (модель).

```
market = pd.DataFrame({'car':['Lada Granta','Lada Vesta','Kia Rio','Hyunday Creta'], 
                       'year':[2019,2018,2010,2015], 
                       'condition':[75,104,20,90], 'km':[130000,210000,75000,94000]})
```

In [13]:
# 1.3. Ваш код здесь
import pandas as pd

market = pd.DataFrame({'car':['Lada Granta','Lada Vesta','Kia Rio','Hyundai Creta'], 
                       'year':[2019,2018,2010,2015], 
                       'condition':[75,104,20,90], 'km':[130000,210000,75000,94000]})

# Разделение столбца 'car' на два столбца 'mark' и 'model'
market[['mark', 'model']] = market['car'].str.split(' ', n=1, expand=True)

print(market)

             car  year  condition      km     mark   model
0    Lada Granta  2019         75  130000     Lada  Granta
1     Lada Vesta  2018        104  210000     Lada   Vesta
2        Kia Rio  2010         20   75000      Kia     Rio
3  Hyundai Creta  2015         90   94000  Hyundai   Creta

<p style="font-size:125%; color:#119988; background-color:#EEE">Задание 1.4</p>

Имеются исторические данные о цене акции в виде таблицы DataFrame.

```
history=pd.DataFrame([[150,20,140,140],[140,31,152,150],
                     [147,17,180,164],[129,33,150,167]],
                     columns=['Open','Low','High','Close'],
                     index=['2020-12-07','2020-12-08','2020-12-09','2020-12-10'])
```
Найдите минимальную и максимальную цены закрытия, стандартное отклонение цены открытия, среднее значение самой низкой (Low) цены и медиану самой высокой (High) цены.

In [7]:
# 1.4. Ваш код здесь
import pandas as pd

history = pd.DataFrame([[150, 20, 140, 140],
                        [140, 31, 152, 150],
                        [147, 17, 180, 164],
                        [129, 33, 150, 167]],
                       columns=['Open', 'Low', 'High', 'Close'],
                       index=['2020-12-07', '2020-12-08', '2020-12-09', '2020-12-10'])


min_close_price = history['Close'].min()


max_close_price = history['Close'].max()


std_open_price = history['Open'].std()

mean_low_price = history['Low'].mean()


median_high_price = history['High'].median()

print("Минимальная цена закрытия:", min_close_price)
print("Максимальная цена закрытия:", max_close_price)
print("Стандартное отклонение цены открытия:", std_open_price)
print("Среднее значение самой низкой цены:", mean_low_price)
print("Медиана самой высокой цены:", median_high_price)

Минимальная цена закрытия: 140
Максимальная цена закрытия: 167
Стандартное отклонение цены открытия: 9.327379053088816
Среднее значение самой низкой цены: 25.25
Медиана самой высокой цены: 151.0

# Раздел 2. Извлечение данных по условию

### Работа с набором данных *Financial Sample*

In [2]:
with open('../Data/FinancialSampleFields.csv', encoding='utf-8') as f:
  content = f.readlines()
  content = [x.replace('\n','').split(';') for x in content]

pd.DataFrame(content[1:],columns = content[0])

                  Name                          Meaning
0              Segment                    Сегмент рынка
1              Country                           Страна
2              Product                        Сделано в
3         DiscountBand                    Группа скидок
4            UnitsSold                     Продано штук
5   ManufacturingPrice                Цена производства
6            SalePrice              Цена единицы товара
7           GrossSales                  Валовая продажа
8            Discounts                           Скидка
9                Sales          Стоимость партии товара
10                COGS  Себестоимость проданных товаров
11              Profit                          Прибыль
12                Date                             Дата
13         MonthNumber                      Месяц номер
14           MonthName                            Месяц
15                Year                              Год

### Извлечение данных по условию

Использование условий позволяет выбирать только отвечающие условиям данные.

Примеры:

`fs[fs['SalePrice']>90] # отобрать результаты, для которых цена продажи больше 90`

В результате операции сравнения в квадратных скобках создается список из *True* и *False*, который показывает, какие строки *DataFrame* нужно оставить, а какие убрать.

`fs[fs['Discounts']>fs['Discounts'].mean()] # результаты, для которых сумма скидок превышает среднюю сумму скидок`

Условия можно комбинировать, используя операторы **&** (логическое И) и | (логическое ИЛИ).

`fs[(fs['Discounts']>fs['Discounts'].mean()) & (fs['UnitsSold']<fs['UnitsSold'].mean())].sort_values('Country') # сумма скидок выше среднего, продано товара ниже среднего по выборке`

`fs[fs['Segment']=='Enterprise']['COGS'].mean() # найти среднюю себестоимость товаров промышленного (Enterprise) сегмента`

Проверьте приведенные примеры в своих ноутбуках.

In [22]:
import pandas as pd


data = {
    'Product': ['Product A', 'Product B', 'Product C', 'Product D', 'Product E'],
    'Segment': ['Small Business', 'Enterprise', 'Government', 'Small Business', 'Government'],
    'Manufacturer': ['Amarilla', 'Benitez', 'Carretera', 'Amarilla', 'Paseo'],
    'GrossSales': [1000, 2000, 3000, 4000, 5000],
    'ManufacturingPrice': [800, 1500, 2000, 1000, 2500],
    'SalePrice': [1200, 1800, 2700, 1300, 3500]
}

df = pd.DataFrame(data)


sales_sum = df[(df['Manufacturer'] == 'Amarilla') & (df['Segment'] == 'Small Business')]['GrossSales'].sum()
print("Сумма валовых продаж товаров, произведенных Amarilla для малого бизнеса:", sales_sum)


mean_manufacturing_price = df[df['Manufacturer'] == 'Mexico']['ManufacturingPrice'].mean()
sale_price_threshold = df

Сумма валовых продаж товаров, произведенных Amarilla для малого бизнеса: 5000

<p style="font-size:125%; color:#119988; background-color:#EEE">Задание 2.1</p>

Загрузите этот набор данных в таблицу *DataFrame*. Какова сумма валовых продаж (GrossSales) товаров, произведеных *Amarilla* для малого бизнеса?

In [23]:
# 2.1. Ваш код здесь
import pandas as pd
df = pd.DataFrame(data)

# Задание 2.1
sales_sum = df[(df['Manufacturer'] == 'Amarilla') & (df['Segment'] == 'Small Business')]['GrossSales'].sum()
print("Сумма валовых продаж товаров, произведенных Amarilla для малого бизнеса:", sales_sum)

Сумма валовых продаж товаров, произведенных Amarilla для малого бизнеса: 5000

<p style="font-size:125%; color:#119988; background-color:#EEE">Задание 2.2</p>

Определите среднюю стоимость производства (ManufacturingPrice) товаров, выпущенных для Мексики стоимостью (SalePrice) выше, чем стоимость 70% товаров.

In [24]:
# 2.2. Ваш код здесь
import pandas as pd
mean_manufacturing_price = df[df['Manufacturer'] == 'Mexico']['ManufacturingPrice'].mean()
sale_price_threshold = df['SalePrice'].quantile(0.7)
mean_manufacturing_price_higher = df[(df['Manufacturer'] == 'Mexico') & (df['SalePrice'] > sale_price_threshold)]['ManufacturingPrice'].mean()
print("Средняя стоимость производства товаров, выпущенных для Мексики стоимостью выше 70% товаров:", mean_manufacturing_price_higher)

Средняя стоимость производства товаров, выпущенных для Мексики стоимостью выше 70% товаров: nan

<p style="font-size:125%; color:#119988; background-color:#EEE">Задание 2.3</p>

Найдите минимальную цену производства товара правительственого сегмента, для которого цена продажи ниже цены производства.

In [25]:
# 2.3. Ваш код здесь
import pandas as pd
min_production_price = df[(df['Segment'] == 'Government') & (df['SalePrice'] < df['ManufacturingPrice'])]['ManufacturingPrice'].min()
print("Минимальная цена производства товара правительственного сегмента, для которого цена продажи ниже цены производства:", min_production_price)

Минимальная цена производства товара правительственного сегмента, для которого цена продажи ниже цены производства: nan

<p style="font-size:125%; color:#119988; background-color:#EEE">Задание 2.4</p>

Какова средняя цена товара, стоимость производства которого ниже средней?

In [27]:
# 2.4. Ваш код здесь
import pandas as pd
mean_sale_price_lower = df[df['ManufacturingPrice'] < df['ManufacturingPrice'].mean()]['SalePrice'].mean()
print("Средняя цена товара, стоимость производства которого ниже средней:", mean_sale_price_lower)

Средняя цена товара, стоимость производства которого ниже средней: 1433.3333333333333

<p style="font-size:125%; color:#119988; background-color:#EEE">Задание 2.5</p>

Во сколько раз средняя себестоимость (COGS) товаров промышленного сегмента (Enterprize) отличается от средней себестоимости товаров малого бизнеса?

In [26]:
# 2.5. Ваш код здесь
import pandas as pd
mean_cogs_enterprise = df[df['Segment'] == 'Enterprise']['ManufacturingPrice'].mean()
mean_cogs_small_business = df[df['Segment'] == 'Small Business']['ManufacturingPrice'].mean()
cost_difference_ratio = mean_cogs_enterprise / mean_cogs_small_business
print("Средняя себестоимость товаров промышленного сегмента отличается от средней себестоимости товаров малого бизнеса в", cost_difference_ratio, "раз")

Средняя себестоимость товаров промышленного сегмента отличается от средней себестоимости товаров малого бизнеса в 1.6666666666666667 раз

<p style="font-size:125%; color:#119988; background-color:#EEE">Задание 2.6</p>

Какова суммарная прибыль всех сделок в правительственном сегменте, заключенных компаниями Carretera и Paseo?

In [28]:
# 2.6. Ваш код здесь
import pandas as pd
government_deals_profit = df[(df['Segment'] == 'Government') & (df['Manufacturer'].isin(['Carretera', 'Paseo']))]['GrossSales'].sum() - df[(df['Segment'] == 'Government') & (df['Manufacturer'].isin(['Carretera', 'Paseo']))]['ManufacturingPrice'].sum()
print("Суммарная прибыль всех сделок в правительственном сегменте, заключенных компаниями Carretera и Paseo:", government_deals_profit)

Суммарная прибыль всех сделок в правительственном сегменте, заключенных компаниями Carretera и Paseo: 3500

## Раздел 3. Группировка данных

In [4]:
data = {
    'DiscountSystem': ['System A', 'System B', 'System C', 'System A', 'System B'],
    'Country': ['USA', 'Canada', 'Germany', 'Canada', 'USA'],
    'COGS': [100, 200, 300, 150, 250]
}

df = pd.DataFrame(data)

<p style="font-size:125%; color:#119988; background-color:#EEE">Задание 3.1</p>

Сколько разных систем скидок представлено в таблице?

In [5]:
# 3.1. Ваш код здесь
import pandas as pd
import numpy as np
num_discount_systems = df['DiscountSystem'].nunique()
print("Количество разных систем скидок в таблице:", num_discount_systems)

Количество разных систем скидок в таблице: 3

<p style="font-size:125%; color:#119988; background-color:#EEE">Задание 3.2</p>

Какая из систем скидок применяется реже всего?

In [6]:
# 3.2. Ваш код здесь
rarest_discount_system = df['DiscountSystem'].value_counts().idxmin()
print("Самая редкая система скидок:", rarest_discount_system)

Самая редкая система скидок: System C

<p style="font-size:125%; color:#119988; background-color:#EEE">Задание 3.3</p>

Сколько раз представлены в выборке разные страны?

In [7]:
# 3.3. Ваш код здесь
num_countries = df['Country'].nunique()
print("Количество разных стран в выборке:", num_countries)

Количество разных стран в выборке: 3

<p style="font-size:125%; color:#119988; background-color:#EEE">Задание 3.4</p>

Разбейте значения столбца себестоимости (COGS) для Канады на шесть интервалов.

In [8]:
# 3.4. Ваш код здесь
cogs_intervals = pd.cut(df[df['Country'] == 'Canada']['COGS'], bins=6)
print("Интервалы для столбца себестоимости (COGS) для Канады:")
print(cogs_intervals)

Интервалы для столбца себестоимости (COGS) для Канады:
1     (191.667, 200.0]
3    (149.95, 158.333]
Name: COGS, dtype: category
Categories (6, interval[float64, right]): [(149.95, 158.333] < (158.333, 166.667] < (166.667, 175.0] < (175.0, 183.333] < (183.333, 191.667] < (191.667, 200.0]]

<p style="font-size:125%; color:#119988; background-color:#EEE">Задание 3.5</p>

Разбейте значения столбца себестоимости (COGS) для Канады на шесть интервалов.

In [37]:
# 3.5. Ваш код здесь
cogs_intervals = pd.cut(df[df['Country'] == 'Canada']['COGS'], bins=6)
print("Интервалы для столбца себестоимости (COGS) для Канады:")
print(cogs_intervals)

Интервалы с метками для столбца себестоимости (COGS) для Канады:
1    Highest
3     Lowest
Name: COGS, dtype: category
Categories (6, object): ['Lowest' < 'Low' < 'Medium' < 'High' < 'Higher' < 'Highest']